<template lang="pug">
  .tabs(v-if='tabs.length > 0')
    tab(v-for='item in tabs' :active='item.name === activeTab.name' @select='selectTab(item)' @close='closeTab(item.name)') {{item.name}}
</template>
<script>
import Tab from './tab.vue';

export default {
  components: {
    Tab,
  },
  methods: {
    selectTab(tab) {
      this.$store.commit('application/selectTab', tab)
    },
    closeTab(tabName) {
      this.$store.commit('application/closeTab', tabName)
    }
  },
  computed: {
    tabs() {
      return this.$store.state.application.tabList;
    },
    activeTab() {
      return this.$store.getters['application/activeTab'];
    },
  },
};
</script>
<style lang="sass" scoped>
.tabs
  display: flex
  border-bottom: 1px solid #d8d8d8
</style>
