<template lang="pug">
  .tab(:class='{ active }' @click.self='select')
    slot
    i.material-icons.close(@click='close') close
</template>
<script>
export default {
  props: ['active'],
  methods: {
    select(e) {
      this.$emit('select')
    },
    close(e) {
      this.$emit('close')
    }
  }
};
</script>
<style lang="sass" scoped>
.active
  background: #d4dae0
.tab
  display: flex
  align-items: center
  padding: 10px 22px
  border-top: 1px solid #d8d8d8
  border-right: 1px solid #d8d8d8
  font-family: 'Rubik'
  font-weight: 400
  font-size: 14px
  letter-spacing: 0.53px
  .close
    opacity: .3
    transition: opacity .3s
    margin-left: 8px
    font-size: 18px
    line-height: 17px
    &:hover
      opacity: 1
  &:hover
    cursor: pointer

</style>
