<template lang="pug">
  div(:style='{ paddingLeft: level*25 + "px" }')
    .block(:style='{borderLeft: level==0?"":"1px solid #d8d8d8"}') {{dv.Name}}
    div(v-if='dv.Childes')
      AxisYBlock(v-for='item in dv.Childes' :dv='item' :level='level + 1')
</template>
<script>
export default {
  name: 'AxisYBlock',
  props: ['dv', 'level']
}
</script>
<style lang="sass" scoped>
.block
  display: flex
  align-items: center
  padding-left: 20px
  width: 180px
  box-sizing: border-box
  height: 40px
  border-bottom: 1px solid #d8d8d8
</style>
