<template lang="pug">
  .cont
    .block(:style='{borderLeft: level==0?"":"1px solid #d8d8d8"}') {{dv.Name}}
    .fl(v-if='dv.Childes' :style='{ marginLeft: (level+1)*180 + "px", width: dv.Childes.length*180 + "px" }')
      AxisYBlock(v-for='item in dv.Childes' :dv='item' :level='level + 1')
</template>
<script>
export default {
  name: 'AxisYBlock',
  props: ['dv', 'level']
}
</script>
<style lang="sass" scoped>
.cont
  width: fit-content
.fl
  display: flex
  justify-content: flex-start
  width: 100%
  border-top: 1px solid #d8d8d8
.block
  display: flex
  align-items: center
  justify-content: center
  width: 180px
  height: 40px
  box-sizing: border-box
  border-bottom: 1px solid #d8d8d8
</style>
