<template lang="pug">
.cubeview
  .headline
    .title Cubeview
  .select-cube
    c-select(v-model='selectedCubeName' placeholder='Select cube')
      c-select-option(v-for='cube in cubes' :value='cube.Name' ) {{cube.Name}}
  .dimensions-cont(v-if='selectedCubeName')
    .dimensions
      .dim-select( v-for='(dimension,index) in cubeDimensions' :draggable='true' @dragstart='dimensionDragStart($event, dimension)')
        c-select(v-model='selectedDimensionValues[index]' :placeholder='`Select from ${dimension.Name}`')
          c-select-option(v-for='dv in dimension.HierarchyFlat' :value='dv.Name' ) {{dv.Name}}
  .cubeview-inner
    .table
      .table-inner
        .headline(:style='{ width: tableWidth }')
          .corner
            c-button(@click='reset') СБРОС
          div.axis-x(@dragover='overAxisX' @drop='dropAxisX')
            .fl(v-if='axisXDimension')
              AxisXBlock(v-for='item in axisXDimension.Hierarchy' :dv='item' :level='0')
            span(v-else) Перетащите измерение
        .body(:style='{ width: tableWidth }')
          div.sidebar(@dragover='overAxisY' @drop='dropAxisY')
            div(v-if='axisYDimension')
              AxisYBlock(v-for='item in axisYDimension.Hierarchy' :dv='item' :level='0')
            span(v-else) Перетащите измерение
          .body-inner
            .row(v-for='row in values')
              .cell(v-for='cell in row') {{cell}}
</template>
<script>
import AxisYBlock from './AxisYBlock'
import AxisXBlock from './AxisXBlock'
function flatArray(arr, val) {
  arr.push(val)
  if(val.Childes) {
    val.Childes.forEach(child => {
      flatArray(arr, child)
    });
  }
}
export default {
  components: {AxisYBlock, AxisXBlock},
  data() {
    return {
      selectedCubeName: null,
      selectedDimensionValues: [],
      axisXDimensionName: null,
      axisYDimensionName: null,
      values: []
    }
  },
  watch: {
    selectedDimensionValues(val) {
      if (val.filter(sdv => sdv == '').length == 2) {
        this.getCubeView()
      }
    },
    selectedCubeName(val) {
      this.selectedDimensionValues = new Array(this.selectedCube.Dimensions.length).fill('')
    }
  },
  methods: {
    getCubeView() {
      const answers = this.selectedDimensionValues.filter(sdv => sdv != '')
      const dvAnswers = answers.reduce((agg, v, ind) => {
        agg += this.cubeDimensions[ind].Name + "::" + v + ",,"
        return agg
      }, '')

      let params = {
        cubeName: this.selectedCubeName,
        dimensionNameAxisX: this.axisXDimensionName,
        dimensionNameAxisY: this.axisYDimensionName
      }

      if (this.selectedCube.Dimensions.length != 2) {
        params.selectedDimensionValues = dvAnswers
      }


      if (params.cubeName && params.dimensionNameAxisX && params.dimensionNameAxisY) {
        this.axios.get('/olap/cubeview', {
          params 
        }).then(res => {
          this.values = res.data
        })
      }
    },
    reset() {
      this.axisXDimensionName = null
      this.axisYDimensionName = null
    },
    dimensionDragStart(event, dimension) {
      event.dataTransfer.setData('dimName', dimension.Name)
    },
    dropAxisX(event) {
      this.axisXDimensionName = event.dataTransfer.getData('dimName')
      this.getCubeView()
    },
    dropAxisY(event) {
      this.axisYDimensionName = event.dataTransfer.getData('dimName')
      this.getCubeView()
    },
    overAxisX(event) {
      event.preventDefault();
    },
    overAxisY(event) {
      event.preventDefault();
    },
  },
  computed: {
    tableWidth() {
      if(this.values.length > 0 && this.values[0].length > 0) {
        return this.values[0].length * 180 + 240 + "px"
      }
      return "100%"
    },
    axisXDimension() {
      if (this.axisXDimensionName) {
        return this.$store.state.dimensions.filter(d => d.Name == this.axisXDimensionName)[0]
      }
      return null
    },
    axisYDimension() {
      if (this.axisYDimensionName) {
        return this.$store.state.dimensions.filter(d => d.Name == this.axisYDimensionName)[0]
      }
      return null
    },
    selectedCube() {
      if(this.selectedCubeName) {
        return this.cubes.filter(c => c.Name == this.selectedCubeName)[0]
      }
      return null
    },
    cubeDimensions() {
      if(this.selectedCube) {
        return this.selectedCube.Dimensions.map(dimensionName => {
          let dim = Object.assign({}, this.$store.state.dimensions.filter(d => d.Name == dimensionName)[0])
          let newHierarchy = []
          dim.Hierarchy.forEach(dv => {
            flatArray(newHierarchy, dv)
          })
          dim.HierarchyFlat = newHierarchy
          return dim
        }).filter(dim => dim.Name != this.axisXDimensionName && dim.Name != this.axisYDimensionName)

      }
      return []
    },
    cubes() {
      return this.$store.state.cubes
    }
  }
}
</script>
<style lang="sass" scoped>
.table::-webkit-scrollbar 
  background-color: transparent
  width: 16px
.table::-webkit-scrollbar-track 
  background-color: transparent
.table::-webkit-scrollbar-thumb 
  background-color: #babac0
  border-radius: 16px
  border: 4px solid #fff
.sidebar::-webkit-scrollbar 
  background-color: transparent
  width: 16px
.sidebar::-webkit-scrollbar-track 
  background-color: transparent
.sidebar::-webkit-scrollbar-thumb 
  background-color: #babac0
  border-radius: 16px
  border: 4px solid #fff

.axis-x::-webkit-scrollbar 
  background-color: transparent
  width: 16px
.axis-x::-webkit-scrollbar-track 
  background-color: transparent
.axis-x::-webkit-scrollbar-thumb 
  background-color: #babac0
  border-radius: 16px
  border: 4px solid #fff
.fl
  display: flex
.cubeview
  padding: 32px
  height: 100vh
  box-sizing: border-box
  display: flex
  flex-direction: column
  &-inner
    flex: 1
    margin-top: 16px
    .table
      border: 1px solid #d8d8d8
      overflow: scroll
      flex: 1
      height: 700px
      &-inner
        display: flex
        height: 100%
        flex-direction: column
      .body
        flex: 1
        display: flex
        &-inner
          flex: 1
          .row
            display: flex
            .cell
              box-sizing: border-box
              padding: 10px 15px
              width: 180px
              height: 40px
              border-right: 1px solid #d8d8d8
              border-bottom: 1px solid #d8d8d8
              overflow: hidden
      .headline
        height: 100px
        display: flex
      .corner
        display: flex
        align-items: center
        justify-content: center
        width: 200px
        border-right: 1px solid #d8d8d8
        border-bottom: 1px solid #d8d8d8
      .axis-x
        text-align: center
        vertical-align: center
        flex: 1
        overflow: scroll
        border-bottom: 1px solid #d8d8d8
      .sidebar
        border-right: 1px solid #d8d8d8
        border-bottom: 1px solid #d8d8d8
        width: 200px
        height: 100%
        overflow: scroll
        text-align: left
        vertical-align: top
  .headline
    .title
      font-weight: bold
      font-size: 30px
  .select-cube
    margin-top: 16px
    max-width: 300px
  .dimensions-cont
    width: 100%
    margin-top: 16px
    .dim-select
      margin-right: 8px
      display: inline-flex
      max-width: 300px
</style>
