 <template lang="pug">
  .editor
    template(v-for='btn in btns')
      c-button.ic(type='icon' v-if='btn != "divider"' @click='$emit(btn)') {{btn}}
      .vertical-divider(v-else)
    c-select.select.select(value='Rubik' v-if='isEdit')
    .vertical-divider(v-if='isEdit')
    c-select.select.select-size(:value='16' v-if='isEdit' @select='changeSize')
      c-select-option(:value='8') 8
      c-select-option(:value='10') 10
      c-select-option(:value='12') 12
      c-select-option(:value='14') 14
      c-select-option(:value='16') 16
      c-select-option(:value='18') 18
      c-select-option(:value='20') 20
    template(v-for='btn in styles' v-if='isEdit')
      c-button.ic(type='icon' v-if='btn != "divider"' @click='$emit("changeStyle", btn)') {{btn}}
      .vertical-divider(v-else)
    c-popover(v-if='isEdit')
      template(v-slot:activator)
        c-button.ic(type='icon') format_paint
      Swatches.sw(v-model='colorsText',@input='$emit("changeStyle","text_color")')
    c-popover(v-if='isEdit')
      template(v-slot:activator)
        c-button.ic(type='icon') palette
      Swatches.sw(v-model='colors',@input='$emit("changeStyle","background_color")')
    .vertical-divider(v-if='isEdit')
    c-input.inp-size(placeholder='Ряд' v-model='rows' @keyup.native.enter='updTable' v-if='isEdit')
    c-input.inp-size(placeholder='Кол' v-model='cols' @keyup.native.enter='updTable' v-if='isEdit')
</template>
<script>
import { Swatches } from 'vue-color';

export default {
  components: { Swatches },
  props: ['gridSize', 'isEdit'],
  watch: {
    gridSize(newVal) {
      this.rows = newVal.row;
      this.cols = newVal.col;
    },
  },
  methods: {
    changeSize(val) {
      this.$emit('changeStyle', `font-size_${val}`);
    },
    updTable() {
      this.$emit('resize', parseInt(this.rows, 10), parseInt(this.cols, 10));
    },
  },
  data() {
    return {
      rows: this.gridSize.row,
      cols: this.gridSize.col,
      colors: '#000000',
      colorsText: '#000000',
      btns: [
        'cached',
        'edit',
        'save',
        'delete',
        'divider',
      ],
      styles: [
        'divider',
        'format_bold',
        'format_italic',
        'format_strikethrough',
        'format_underline',
        'divider',
        'format_align_left',
        'format_align_center',
        'format_align_right',
        'divider',
        'border_all',
        'border_clear',
        'border_bottom',
        'border_left',
        'border_top',
        'border_right',
        'border_outer',
        'divider',
      ],
    };
  },
};
</script>
<style lang="sass" scoped>
.editor
  border-bottom: 1px solid #d8d8d8
  height: 34px
  box-sizing: border-box
  display: flex
  align-items: center
  padding: 0 8px
.select
  max-width: 100px
  height: 70%!important
.inp-size
  max-width: 60px
.select-size
  max-width: 60px
  height: 100%
.ic
  font-size: 14px
.vertical-divider
  margin: 0 8px
  width: 1px
  height: 18px
  background-color: #d8d8d8
.sw
  height: auto!important
</style>
