<template lang='pug'>
.small(ref='cont' v-resize:debounce="onResize")
  highcharts(:options='chartOptions' ref='graph' :updateArgs='[true,true,true]')
</template>

<script>
import resize from 'vue-resize-directive';

export default {
  directives: {
    resize,
  },
  data() {
    return {
      chartOptions: {
        series: [{
          type: 'bar',
          data: [1, 2, 3],
        }],
      },
    };
  },
  methods: {
    onResize() {
      this.$refs.graph.chart.setSize(
        this.$refs.cont.clientWidth,
        this.$refs.cont.clientHeight,
        false,
      );
    },
  },
};
</script>

<style lang="sass" scoped>
.small
  height: 100%
  width: 100%
</style>
