<template lang="pug">
.inner
  div(v-if='loading') loading
  c-data-table(v-else,:data='data', :selects='subnm')
</template>
<script>
import CDataTable from '../../CDataTable/index.vue';

export default {
  props: ['name'],
  components: { CDataTable },
  data() {
    return {
      data: [],
      loading: true,
      subnm: {},
    };
  },
  mounted() {
    this.loading = true;
    this.axios.get(`${process.env.VUE_APP_API_URL}/forms?name=${this.name}`).then((resp) => {
      this.data = resp.data.Cells;
      this.loading = false;
      this.properties = resp.data.Meta;
    });
  },
};
</script>
<style lang="sass" scoped>
.inner
  max-width: 100%
  max-height: 100%
  overflow: auto
</style>
