<template lang='pug'>
.small(ref='cont' v-resize:debounce="onResize")
  highcharts(:options='chartOptions' ref='graph' :updateArgs='[true,true,true]')

</template>

<script>
/* eslint-disable guard-for-in */
import resize from 'vue-resize-directive';

export default {
  props: ['options'],
  directives: {
    resize,
  },
  mounted() {
    this.getData();
  },
  watch: {
    // eslint-disable-next-line func-names
    'options.rest': function () {
      this.getData();
    },
  },
  data() {
    return {
      chartOptions: {
        xAxis: {
          categories: [],
        },
        title: {
          text: this.options.title,
        },
        series: [{
          type: 'column',
          data: [],

        }],
      },
    };
  },
  methods: {
    getData() {
      const { options } = this;
      this.axios.get(`/chart/${options.cubeName}`, {
        params: {
          dimension: options.dimName,
          level: options.level,
          rest: options.rest,
          alias: options.alias,
        },
      }).then((resp) => {
        this.chartOptions.series[0].data = [];
        // eslint-disable-next-line no-restricted-syntax
        for (const k in resp.data) {
          this.chartOptions.series[0].data.push(resp.data[k]);
          this.chartOptions.xAxis.categories.push(k);
        }
      });
    },
    onResize() {
      this.$refs.graph.chart.setSize(
        this.$refs.cont.clientWidth,
        this.$refs.cont.clientHeight,
        false,
      );
    },
  },
};
</script>

<style lang="sass" scoped>
.small
  height: 100%
  width: 100%
</style>
