<template lang='pug'>
.tables
  editor(@save='saveTable' @cached='updData' @edit='toggleEdit'
    ref='editor'
    @changeStyle='changeStyle'
    :isEdit='isEdit'
    v-if='$auth.check("admin")' :gridSize='gridSize'
    @resize='(rows,cols) => resizeTable(rows,cols)')
  formula-editor
  .table(v-if='data' ref='scrollcont')
    c-data-table(:data='data' :disableRenderer='disableRenderer'
      :scroll='$refs.scrollcont'
      ref='tablewow'
      :inEdit='isEdit'
      :styles='styles' @change='changeVal' :selects='subnm' :properties='properties')
      template(slot='cell-1-3')
        c-button(block) Согласовать
</template>

<script>
/* eslint-disable no-plusplus */
/* eslint-disable guard-for-in */
import CDataTable from '../CDataTable/index.vue';

import Editor from './Editor/index.vue';
import FormulaEditor from './FormulaEditor/index.vue';
import styleFuncs from './changeStyleHelpers';

const bs = 'margin: 4px; padding: 4px; color: #fff; font-weight: 600';
export default {
  mounted() {
    if (this.activeTab) {
      this.getTable(this.activeTab);
    }
    window.addEventListener('copy', () => {
      const rows = [];
      this.data.forEach((row) => {
        rows.push(row.map(r => r.Value).join('\t'));
      });
      navigator.clipboard.writeText(rows.join('\r\n')).then(() => {
        // console.log('Async: Copying to clipboard was successful!');
      }, () => {
        // console.error('Async: Could not copy text: ', err);
      });
    });
    window.addEventListener('paste', (ev) => {
      // console.log('paste');
      ev.clipboardData.items.forEach((v) => {
        if (v.type === 'text/plain') {
          v.getAsString((text) => {
            // const x = $this.closest('td').index();
            // const y = $this.closest('tr').index() + 1;
            // const obj = {};
            const newtext = text.trim('\r\n');
            newtext.split('\r\n').forEach((v2, rowInd) => {
              v2.split('\t').forEach((v3, colInd) => {
                const initCol = this.$refs.tablewow.selectedCell.col
                const initRow = this.$refs.tablewow.selectedCell.row
                this.data[initRow + rowInd][initCol + colInd].Value = v3.toString();
              });
            });
            // $.each(text.split('\r\n'), (i2, v2) => {
            //   $.each(v2.split('\t'), (i3, v3) => {
            //     const row = y + i2; const
            //       col = x + i3;
            //     obj[`cell-${row}-${col}`] = v3;
            //     $this.closest('table').find(`tr:eq(${row}) td:eq(${col}) input`).val(v3);
            //   });
            // });
          });
        }
      });
    });
  },
  computed: {
    gridSize() {
      if (this.data) {
        return {
          row: this.data.length,
          col: this.data.length > 0 ? this.data[0].length : 0,
        };
      }
      return {
        row: 0,
        col: 0,
      };
    },
    activeTab() {
      if (this.$store.getters['application/activeTab'] === null ) return ""
      return this.$store.getters['application/activeTab'].name;
    },
  },
  watch: {
    activeTab() {
      this.select = {};
      this.getTable(this.activeTab);
    },
  },
  data() {
    return {
      isEdit: false,
      data: [],
      selectState: {},
      properties: {},
      subnm: {},
      options: [
        {
          icon: 'add',
          style: bs,
          action: () => {

          },
        },
        {
          icon: 'link',
          style: bs,
          action: () => {

          },
        },
        {
          icon: 'cloud_upload',
          style: bs,
          action: () => {

          },
        },
      ],
      disableRenderer: {

      },
      selectedTable: {
        from: {
          row: 0,
          col: 0,
        },
        to: {
          row: 0,
          col: 0,
        },
      },
      styles: {

      },
    };
  },
  methods: {
    changeStyle(type) {
      const {
        top, bottom, left, right,
      } = this.$refs.tablewow.selectedCells;
      this.selectedTable.from.row = top;
      this.selectedTable.from.col = left;
      this.selectedTable.to.row = bottom;
      this.selectedTable.to.col = right;

      switch (type) {
        case 'border_all':
          styleFuncs.borderAll(this);
          break;
        case 'border_clear':
          styleFuncs.clearBorder(this);
          break;
        case 'border_outline':
          styleFuncs.borderOutline(this);
          break;
        case 'border_bottom':
          styleFuncs.borderBottom(this);
          break;
        case 'border_top':
          styleFuncs.borderTop(this);
          break;
        case 'border_left':
          styleFuncs.borderLeft(this);
          break;
        case 'border_right':
          styleFuncs.borderRight(this);
          break;
        case 'format_bold':
          styleFuncs.bold(this);
          break;
        case 'background_color':
          styleFuncs.cellBackground(this, this.$refs.editor.colors);
          break;
        case 'text_color':
          styleFuncs.textColor(this, this.$refs.editor.colorsText);
          break;
        default:
          if (type.split('_align_').length > 0) {
            styleFuncs.textAlign(this, type.split('_align_')[1]);
          }
          if (type.split('size_').length > 0) {
            styleFuncs.textSize(this, type.split('size_')[1]);
          }
          break;
      }
    },
    resizeTable(rows, cols) {
      if (this.data) {
        const origColSize = this.data.length > 0 ? this.data[0].length : 0;
        if (rows > this.data.length) {
          this.data = [...this.data, ...Array(rows - this.data.length).fill(Array(origColSize).fill({ Value: '', Styles: '' }))];
        } else {
          this.data.length = rows;
        }
        if (cols <= origColSize) {
          this.data = this.data.map((arr) => {
            const newArr = arr;
            newArr.length = cols;
            return newArr;
          });
        } else {
          this.data = this.data.map((arr) => {
            let newArr = arr;
            newArr = [...newArr, ...Array(cols - origColSize).fill({ Value: '', Styles: '' })];
            return newArr;
          });
        }
      } else {
        this.data = Array(rows).fill(Array(cols).fill({ Value: '', Styles: '' }));
      }
    },
    toggleEdit() {
      this.isEdit = !this.isEdit;
      this.getTable(this.activeTab);
    },
    updData() {
      this.getTable(this.activeTab);
    },
    saveTable() {
      // eslint-disable-next-line no-plusplus
      for (let i = 0; i < this.data.length; i++) {
        // eslint-disable-next-line no-plusplus
        for (let j = 0; j < this.data[i].length; j++) {
          let styles = null;
          if (this.styles && this.styles[i] && this.styles[i][j]) {
            styles = JSON.stringify(this.styles[i][j]);
          }
          this.data[i][j].Styles = styles;
        }
      }
      this.axios.put(`${process.env.VUE_APP_API_URL}/forms/${this.activeTab}`, this.data);
    },
    getTable(tableName) {
      if (this.isEdit) {
        this.axios.get(`${process.env.VUE_APP_API_URL}/forms?name=${tableName}&edit`).then((resp) => {
          this.data = resp.data.Cells;
          this.styles = {};
          for (let i = 0; i < this.data.length; i++) {
            this.styles[i] = {};
            for (let j = 0; j < this.data[i].length; j++) {
              const row = i;
              const col = j;
              if (this.data[row][col].Styles) {
                const cssAsObj = JSON.parse(this.data[row][col].Styles);
                this.styles[row][col] = {};
                // eslint-disable-next-line no-restricted-syntax
                for (const k in cssAsObj) {
                  this.styles[row][col][k] = cssAsObj[k];
                }
              }
            }
          }
          this.subnm = {};
          if (resp.data.Cells === null || resp.data.Cells.length === 0) {
            this.fillData(10, 10);
          }
        });
      } else {
        this.axios.get(`${process.env.VUE_APP_API_URL}/forms?name=${tableName}`).then((resp) => {
          this.data = resp.data.Cells;
          this.styles = {};
          for (let i = 0; i < this.data.length; i++) {
            this.styles[i] = {};
            for (let j = 0; j < this.data[i].length; j++) {
              const row = i;
              const col = j;
              if (this.data[row][col].Styles) {
                const cssAsObj = JSON.parse(this.data[row][col].Styles);
                this.styles[row][col] = {};
                // eslint-disable-next-line no-restricted-syntax
                for (const k in cssAsObj) {
                  this.styles[row][col][k] = cssAsObj[k];
                }
              }
            }
          }
          this.subnm = resp.data.SUBNM;
          this.properties = resp.data.Meta;
        });
      }
    },
    getDataWithState(state) {
      this.axios.post(`${process.env.VUE_APP_API_URL}/forms/${this.activeTab}`, state).then((resp) => {
        this.data = resp.data.Cells;
        this.properties = resp.data.Meta;
        let select = Object.assign({}, this.select);
        for (let row in select) {
          for (let col in select[row]) {
            if(resp.data.SUBNM[row][col].IsDBRW) {
              delete select[row][col];
            }
          }
        }
        this.select = select;
      });
    },
    changeVal(payload) {
      const row = payload[0];
      const col = payload[1];
      const val = payload[2];
      if (this.isEdit) {
        this.data[row][col].Value = val;
      } else {
        let select = Object.assign({}, this.select);
        if (this.subnm && this.subnm[row] && this.subnm[row][col]) {
          if (!this.select) this.select = {};
          if (!this.select[row]) this.select[row] = {};
          if (!this.select[row][col]) this.select[row][col] = {};
          this.select[row][col] = val;
        }
        if (!select) select = {};
        if (!select[row]) select[row] = {};

        if (parseFloat(val.trim()) != "" && !isNaN(parseFloat(val.trim()))) {

          select[row][col] = parseFloat(val);
        } else {
          select[row][col] = val.trim()
        }

        this.getDataWithState(select);

      }
    },
    fillData(rows, cols) {
      this.data = [];
      // eslint-disable-next-line no-plusplus
      for (let i = 0; i < rows; i++) {
        // eslint-disable-next-line prefer-const
        let arr = [];
        // eslint-disable-next-line no-plusplus
        for (let j = 0; j < cols; j++) {
          arr.push({
            Value: '',
            Style: '',
          });
        }
        this.data.push(arr);
      }
    },
  },
  components: {
    CDataTable,
    Editor,
    FormulaEditor,
  },
};
</script>

<style lang="sass" scoped>
.tables
  .table
    max-height: calc(100vh - 118px)
    overflow: scroll
</style>
