<template lang="pug">
  .integrator
    .headline
      .title Процессы
    .add
      c-input.inp(placeholder='Название процесса' v-model='addProcessName')
      c-button(@click='addProc') Добавить процесс
      .add-loading(v-if='loading.isAddProcessLoading') Загрузка...
    .card.list
      .item-not-found(v-if='loading.isProcessListLoading') Загрузка процессов...
      .item.fl.fl-between.al-center(v-for='process in processList')
        span {{process}}
        div
          c-button.mr-2 Запустить
          c-button(@click='openProcess(process)') Открыть
      .item-not-found(v-if='processList.length == 0') Пока процессов нет :(
</template>
<script>
import {mapActions, mapState} from 'vuex'
export default {
  data() {
    return {
      addProcessName: ''
    }
  },
  computed: {
    ...mapState('integrator', {
      processList: state => state.processList,
      loading: state => state.loading
    })
  },
  methods: {
    ...mapActions('integrator',[
      'refreshProcessList',
      'addProcess'
    ]),
    addProc() {
      this.addProcess(this.addProcessName)
      this.addProcessName = ''
    },
    openProcess(name) {
      this.$router.push('process/' + name)
    }
  }
}
</script>
<style lang="sass" scoped>
.integrator
  margin: 32px
  .headline
    .title
      font-weight: bold
      font-size: 30px
.card
  background: #fff
  border: 1px solid #D8D8D8
.item
  padding: 8px 16px
.item-not-found
  padding: 8px 16px
  text-align: center
.list
  margin-top: 16px
.add
  display: flex
  align-items: center
  margin-top: 16px
  &-loading
    margin-left: 16px
  .inp
    width: 400px
    margin-right: 16px
</style>
