<template lang="pug">
  .item(:key='data.name')
    .inner(
      :style='{ paddingLeft:  (getInner + 1) * 22 + "px"}'
      :class='{ "hover" : !hasChildren&&!actions }'
      @click='typeof data.mainClick == "function" &&data.mainClick($store, $router)'
      )
      span {{data.name}}
      .actions
        .action(v-for='action in actions', v-if='$auth.check("admin")')
          c-button(type='icon', size='s' @click='action.func($store, data.name)') {{action.icon}}
        .action(v-if='hasChildren')
          c-button(type='icon' size='s' @click='showChildrens = !showChildrens')
            |{{showChildrens?"keyboard_arrow_up":"keyboard_arrow_down"}}
    c-tree-item(v-if='hasChildren && showChildrens'
      v-for='item in getChildren'
      :data='item'
      :inner='getInner + 1'
      :actions='item.actions'
      :key='getKey(item)')
</template>
<script>
export default {
  name: 'c-tree-item',
  props: ['data', 'inner', 'actions'],
  data() {
    return {
      showChildrens: false,
    };
  },
  methods: {
    getKey(item) {
      const childrenCount = Array.isArray(item.children) ? item.children.length : 0;
      return `${item.name}-${childrenCount}`;
    },
  },
  computed: {
    getInner() {
      return this.inner ? this.inner : 0;
    },
    hasChildren() {
      return Array.isArray(this.data.children) ? this.data.children.length : 0;
    },
    getChildren() {
      return this.data.children;
    },
  },
};
</script>
<style lang="sass" scoped>
  .inner
    border-bottom: 1px solid #F3F3F3
    padding-left: 22px
    padding-right: 22px
    padding-top: 12px
    padding-bottom: 12px
    box-sizing: border-box
    font-size: 17px
    transition: background .3s
    display: flex
    justify-content: space-between
    .actions
      display: flex
      align-items: center
      .action
        margin-left: 15px
  .hover
    &:hover
      cursor: pointer
      background: #F3F3F3
</style>
