<template lang="pug">
  .inner
    c-tree-item(v-for='item in data' :data='item'
      :key='getKey(item)' :actions='item.actions')
</template>
<script>
import CTreeItem from './CTreeItem.vue';

export default {
  components: { CTreeItem },
  props: ['data'],
  data() {
    return {

    };
  },
  methods: {
    forAdmin(item) {
      if (item.admin) {
        if (this.$auth.check('admin')) {
          return true;
        }
        return false;
      }
      return true;
    },
    getKey(item) {
      const childrenCount = Array.isArray(item.children) ? item.children.length : 0;
      return `${item.name}-${childrenCount}`;
    },
  },
};
</script>
<style lang="sass" scoped>

</style>
