<template lang="pug">
  .application
    tabs
    div
      Tables(v-if='activeTabType==="form"')
</template>
<script>
import Tabs from './tabs/index.vue';
import Tables from '@/components/Tables/index.vue'
export default {
  components: { Tabs, Tables },
  computed: {
    activeTabType() {
      if (this.activeTab === null)  return ""
      return this.activeTab.type
    },
    activeTab() {
      return this.$store.getters['application/activeTab']
    }
  }
}
</script>
<style lang="sass" scoped>
.application
  margin-top: 11px
</style>