<template lang='pug'>
div
  sl-vue-tree(v-model="nodes" @nodedblclick='editNode' ref='tree')
    template(slot="title" slot-scope="{ node }")
      input(v-if='node.data.isEdit' v-model='node.title'
        @blur='editNodeName(node)')
      span(v-else)
        span(class="item-icon" )
          i(class="fa fa-file" v-if="node.isLeaf")
          i(class="fa fa-folder" v-if="!node.isLeaf")
        | {{ node.title }}

    div(slot='footer')
      c-button(size='xs' @click='opened=false') Отменить
      c-button(@click='addDv') Добавить
</template>
<script>
import SlVueTree from 'sl-vue-tree';

const nodes = [];
/* eslint-disable */
export default {
  components: { SlVueTree },
  // props: ['nodes'],
  data() {
    return {
      dvName: '',
      opened: false,
      nodes,
    };
  },
  methods: {
    editNodeName(node) {
      this.$refs.tree.updateNode(node.path, {title: node.title, data: { isEdit: false }})
    },
    editNode(node) {
      node.data.isEdit = true;
      this.$refs.tree.updateNode(node.path, {data: { isEdit: true }})
    },
    addDv() {
      this.nodes.push({ title: this.dvName });
      this.dvName = '';
      this.opened = false;
    },
  },
};

</script>
