<template lang="pug">
  c-modal(:opened='opened'
    :options='options'
    @close='close' innerStyle='max-width: 1200px; max-height: 900px;' v-if='dimension')
    div(slot='header') Атрибуты измерения {{dimension.Name}}
    div
      c-modal(
        :opened='addAttributeModal'
        innerStyle='max-width: 300px; max-height: 300px;'
        @close='closeAddAttributeModal'
      )
        div(slot='header') Добавить атрибут
        div
          c-input(placeholder='Название атрибута' v-model='newAttr.name')
          c-select(@select='changeNewAttrType' :value='newAttr.type')
            c-select-option(value='Строка') Строка
            c-select-option(value='Число') Число
            c-select-option(value='Алиас') Алиас
        .fl(slot='footer')
          .spacer
          c-button.mr-2(@click='closeAddAttributeModal' size='xs') Закрыть
          c-button(@click='addAttribute') Добавить
      table.table
        thead
          th.name Элемент измерения
          th(v-for='attr in dimension.Attributes') {{attr.Name}}
        tbody
          tr(v-for='dv, dvInd in dimension.Hierarchy')
            td.name {{dv.Name}}
            td(v-for='attr in dimension.Attributes')
              input.inp(:value='dv.Attributes&&dv.Attributes[attr.Name]'
              @paste='pasteItems($event, dvInd, attr.Name)'
              @change='changeAttr($event, dv.Name, attr.Name)')
    .fl(slot='footer')
      .spacer
      c-button(@click='close') Закрыть
</template>
<script>
export default {
  props: ['opened', 'dimension'],
  data() {
    return {
      addAttributeModal: false,
      newAttr: {
        name: '',
        type: null,
      },
      options: [{
        icon: 'add',
        style: 'color: #fff; background-color: transparent',
        action: this.openAddAttribute,
      }],
    };
  },
  methods: {
    changeAttr(e, dvName, attrName) {
      this.axios.put(`/olap/attrs/${this.dimension.Name}`, {
        value: e.target.value,
        dv_name: dvName,
        attribute_name: attrName,
      }).then((resp) => {
        this.$emit('refreshDimension', resp.data);
      });
    },
    addAttribute() {
      this.axios.post(`/olap/attrs/${this.dimension.Name}`, this.newAttr).then((resp) => {
        this.$emit('refreshDimension', resp.data);
        this.closeAddAttributeModal();
      });
    },
    changeNewAttrType(val) {
      this.newAttr.type = val;
    },
    closeAddAttributeModal() {
      this.newAttr = {
        name: '',
        type: null,
      };
      this.addAttributeModal = false;
    },
    openAddAttribute() {
      this.addAttributeModal = true;
    },
    pasteItems(e, startIndex, attrName) {
      const copyData = e.clipboardData.getData("text")
      const items = copyData.split("\n")
      items.forEach((el, ind) => {
        this.changeAttr({ target: { value: el } }, this.dimension.Hierarchy[startIndex + ind].Name, attrName)
      })
    },
    close() {
      this.$emit('close');
    },
  },
};
</script>
<style lang="sass" scoped>
table.table
  width: 100%
  text-align: center
  border-collapse: collapse
  font-size: 16px
  .name
    width: 230px
    font-weight: 500
    background-color: #EFEFEF
  .inp
    width: 100%
    height: 38px
    padding: 0
    border: 0
.table tr
  height: 38px
table.table td, table.table th
  border: 1px solid #AAAAAA
  padding: 3px 2px
table.table tbody td
table.table thead
  border-bottom: 2px solid #AAAAAA
table.table thead th
  font-weight: normal
  text-align: center
</style>
