
<template lang="pug">
  .side
    .logo(@click='')
      img(src='/img/logo.png')
    c-tree-menu.tree(:data='sidebar')
    .user
      .avatar
      .name {{`${$auth.user().first_name} ${$auth.user().last_name}`}}
      c-button(type='icon' @click='$auth.logout({redirect:"/login"})') logout
    c-modal(:opened='addTableModal' @close='closeAddTableModal')
      .header(slot='header')
        span Таблица
        c-input(placeholder='Введите названиие таблицы' v-model='formName')
      div(slot='footer')
        c-button Отменить
        c-button(@click='addForm') Сохранить
    c-modal(:opened='addCubeModal' @close='closeAddCubeModal')
      .header(slot='header')
        span.mr-2 Куб
        c-input(placeholder='Введите названиие куба' v-model='cubeName')
      .fl
        .fl-item
          .mb-2 Измерения
          .dim-select(v-for='dim in dimensions' @click='dimSelected.push(dim.Name)') {{dim.Name}}
        .fl-item
          .mb-2 Выбранные измерения
          .dim-select(v-for='dim in dimSelected'
            @click='dimSelected = dimSelected.filter(d => d !== dim)') {{dim}}
      .fl(slot='footer')
        .spacer
        c-button.mr-2(size='xs' @click='closeAddCubeModal') Отменить
        c-button(@click='addCube') Сохранить
    c-modal(:opened='dimensionModal' @close='closeDimensionModal'
      :options='addDimensionOptions')
      .header(slot='header')
        span.mr-2 Измерение
        c-input(placeholder='Введите названиие измерения' v-model='dimName')
      div
        DimensionTree(ref='dtree')
        EditAttributesModal(
          :opened='dimAttributesModal'
          :dimension='dimension'
          @close='dimAttributesModal=false'
          @refreshDimension='refreshDimension'
        )
        c-modal(:opened='opened' @close='opened=false' innerStyle='width: 800px; height: 300px;')
          div(slot='header') Добавление элемента измерения
          div
            div
              c-input(placeholder='Введите название элемента' v-model='dv.name')
              c-select(@select='changeSelect' :value='dv.type')
                c-select-option(value='Строка') Строка
                c-select-option(value='Число') Число
                c-select-option(value='Консолидированное') Консолидированное
          .fl(slot='footer')
            .spacer
            c-button.mr-2(size='xs' @click='opened=false') Отменить
            c-button(@click='addDimensionValue' ) Добавить
      .fl(slot='footer')
        .spacer
        c-button.mr-2(size='xs' @click='closeDimensionModal') Отменить
        c-button(@click='addDimension') Сохранить
    cube-rules-modal
</template>
<script>
/* eslint-disable max-len */
import DimensionTree from './DimensionTree.vue';
import CubeRulesModal from './CubeRulesModal.vue';
import EditAttributesModal from './EditAttributesModal.vue';

function ConvertTree(val) {
  return val.map(v => (
    {
      Name: v.title,
      Children: v.children ? ConvertTree(v.children) : null,
    }
  ));
}
/* eslint-disable */
function list_to_tree(list) {
  let map = {};
  let node;
  let roots = [];
  let i;

  for (i = 0; i < list.length; i += 1) {
    map[list[i].Name] = i;
    list[i].Children = [];
  }

  for (i = 0; i < list.length; i += 1) {
    node = list[i];
    if (node.Parent !== null) {
      list[map[node.Parent.Name]].Children.push(node);
    } else {
      roots.push(node);
    }
  }
  return rootsConvert(roots);
}
function rootsConvert(roots) {
  return roots.map(r => (
    {
      title: r.Name,
      children: r.Children.length > 0 ? rootsConvert(r.Children) : null,
      isLeaf: r.Children.length > 0 ? false : true,
    }
  ))
}

export default {
  components: { DimensionTree, CubeRulesModal, EditAttributesModal },
  data() {
    return {
      opened: false,
      formName: '',
      dimensions: [],
      dimSelected: [],
      dimAttributesModal: false,
      dimension: null,
      dimModalType: null,
      dv: {
        name: '',
        type: null,
      },
      cubeName: '',
      dimName: '',
      addDimensionOptions: [{
        icon: 'add',
        style: 'color: #fff; background-color: transparent',
        action: this.openAddDimension,
      }, {
        icon: 'content_paste',
        action: this.pasteFromClipboard,
        style: 'color: #fff; background-color: transparent',
      }],
    };
  },
  watch: {
    dimensionModal(val) {
      if (val) {
        this.dimName = this.$store.state.dimensionEditModal.dimension;

        this.dimension = this.$store.state.dimensions.filter(d => d.Name === this.dimName)
          ? this.$store.state.dimensions.filter(d => d.Name === this.dimName)[0]
          : null;
        if(this.dimension) {

          this.dimModalType = 'edit';
          this.$refs.dtree.nodes = list_to_tree(this.dimension.Hierarchy)
          this.addDimensionOptions.push({
            icon: 'link',
            style: 'color: #fff; background-color: transparent',
            action: this.openAttributesModal,
          });
          this.addDimensionOptions.push({
            icon: 'delete',
            style: 'color: #fff; background-color: transparent',
            action: this.deleteDimension,
          });
        }else {
          this.dimModalType = 'add';
        }

      } else {
        this.$refs.dtree.nodes = [];
        this.dimName = null;
        this.dimModalType = null;
        this.dimension = null;
        this.addDimensionOptions = [{
          icon: 'add',
          style: 'color: #fff; background-color: transparent',
          action: this.openAddDimension,
        }];
      }
    },
  },
  computed: {
    sidebar() {
      return this.$store.state.menu;
    },
    addCubeModal() {
      return this.$store.state.addCubeModal;
    },
    dimensionModal() {
      return this.$store.state.dimensionEditModal.opened;
    },
    addTableModal() {
      return this.$store.state.addTableModal;
    },
  },
  methods: {
    refreshDimension(val) {
      this.dimension = val;
    },
    openAttributesModal() {
      this.dimAttributesModal = true;
    },
    getDimensions() {
      this.axios.get('/olap/dimensions').then((resp) => {
        this.dimensions = resp.data;
      });
    },
    addCube() {
      this.axios.post('/olap/cubes', {
        Name: this.cubeName,
        Dimensions: this.dimSelected,
      }).then(() => {
        this.$store.dispatch('getCubes');
        this.closeAddCubeModal()();
      });
    },
    addDimension() {
      if (this.dimModalType == 'edit') {
        const body = {
          Tree: ConvertTree(this.$refs.dtree.nodes),
        };
        this.axios.put(`/olap/dimensions/${this.dimName}`, body).then(() => {
          this.closeDimensionModal();
          this.$store.dispatch('getDimensions');
        });
      }else {
        const body = {
          Name: this.dimName,
          Tree: ConvertTree(this.$refs.dtree.nodes),
        };
        this.axios.post('/olap/dimensions', body).then(() => {
          this.closeDimensionModal();
          this.$store.dispatch('getDimensions');
        });
      }

    },
    changeSelect(val) {
      this.dv.type = val;
    },
    addDimensionValue() {
      if (this.dv.type === 'Консолидированное') {
        this.$refs.dtree.nodes.push({ title: this.dv.name });
      } else {
        this.$refs.dtree.nodes.push({ title: this.dv.name, isLeaf: true });
      }
      this.opened = false;
      this.dv.name = '';
      this.dv.type = null;
    },
    async pasteFromClipboard() {
      const text = await navigator.clipboard.readText();
      const items = text.split('\n');
      items.forEach(element => {
        if (element) {
          this.$refs.dtree.nodes.push({ title: element.trim(), isLeaf: true });
        }
        
      });
    },
    openAddDimension() {
      this.opened = true;
    },
    addForm() {
      this.$store.dispatch('addForm', { name: this.formName });
      this.closeAddTableModal();
      this.formName = '';
    },
    closeAddCubeModal() {
      this.$store.commit('closeAddCubeModal');
    },
    closeDimensionModal() {
      this.$store.commit('closeDimensionEditModal');
    },
    closeAddTableModal() {
      this.$store.commit('closeAddTableModal');
    },
  },
  mounted() {
    this.getDimensions();
    this.$store.dispatch('getForms');
    this.$store.dispatch('getCubes');
    this.$store.dispatch('getDimensions');
    // this.$store.commit('updForms', []);
    this.$auth.fetch({
      params: {},
      success(resp) {
        this.$auth.user(resp.data);
      },
      error() {},
    // etc...
    });
    // const respAsStr = '';
    // const objArr = [];

    // for (let i = 0; i < sheet.length; i += 3) {
    //   objArr.push([]);
    //   objArr.push([]);
    //   objArr.push([]);
    //   objArr[i].push({ Value: sheet[i].name, Styles: 'background: #595959; color: #fff;' });
    //   objArr[i + 1].push({ Value: `    ${sheet[i + 1].name}`, Styles: '' });
    //   objArr[i + 2].push({ Value: `    ${sheet[i + 2].name}`, Styles: '' });

    //   for (let j = 1; j < 5; j += 1) {
    //     const mainPlanB = parseFloat(sheet[i][`planBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const mainRealF = parseFloat(sheet[i][`realFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const mainPlanF = parseFloat(sheet[i][`planFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const mainPrcB = parseFloat(sheet[i][`prcBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));

    //     const sbPlanB = parseFloat(sheet[i + 1][`planBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const sbRealF = parseFloat(sheet[i + 1][`realFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const sbPlanF = parseFloat(sheet[i + 1][`planFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const sbPrcB = parseFloat(sheet[i + 1][`prcBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));

    //     const kisPlanB = parseFloat(sheet[i + 2][`planBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const kisRealF = parseFloat(sheet[i + 2][`realFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const kisPlanF = parseFloat(sheet[i + 2][`planFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const kisPrcB = parseFloat(sheet[i + 2][`prcBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));

    //     const resp = [[
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planBudget', 'Total_Measure1', Math.floor(mainPlanB - sbPlanB - kisPlanB)],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'realFact', 'Total_Measure1', Math.floor(mainRealF - sbRealF - kisRealF)],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planFact', 'Total_Measure1', Math.floor(mainPlanF - sbPlanF - kisPlanF)],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'prcBudget', 'Total_Measure1', Math.floor(mainPrcB - sbPrcB - kisPrcB)]],
    //     [['Main', `Company${i / 3}`, `Q${j}`, 'planBudget', 'sb', sbPlanB],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'realFact', 'sb', sbRealF],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planFact', 'sb', sbPlanF],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'prcBudget', 'sb', sbPrcB]], [

    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planBudget', 'kis', kisPlanB],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'realFact', 'kis', kisRealF],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planFact', 'kis', kisPlanF],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'prcBudget', 'kis', kisPrcB]]];

    //     // eslint-disable-next-line no-loop-func
    //     resp.forEach((rD, k) => rD.forEach((r) => {
    //       const asStr = [r[0], r[1], r[2], r[3], r[4]].join('","');
    //       // respAsStr += `=DBRW("${asStr}")`;
    //       objArr[i + k].push({ Value: `=DBRW("${asStr}")`, Styles: '' });
    //     }));
    //   }
    //   // respAsStr += `${mainStr}\n`;
    //   // respAsStr += `${sbStr}\n`;
    //   // respAsStr += `${kisStr}\n`;
    // }
    // const headers = ['Название', 'План 3 месяцев Бюджет', 'Затраты  Факт на 31.03.2019', ' Ожидаемый факт /факт 3 месяцев', 'Затраты % выполнения 3 месяцев Бюджет', 'План 6 месяцев Бюджет', 'Затраты  Факт на 30.06.2019', ' Ожидаемый факт /факт 6 месяцев', '% выполнения 6 месяцев Бюджет', 'План 9 месяцев Бюджет', 'Затраты  Факт на 30.09.2019', ' Ожидаемый факт /факт 9 месяцев', '% выполнения 9 месяцев Бюджет', 'План 12 месяцев Скорректированный Бюджет', 'Затраты  Факт на 31.12.2019', ' Ожидаемый факт /факт 12 месяцев', '% выполнения 12 месяцев Бюджет'];
    // objArr.unshift(headers.map(v => ({ Value: v, Styles: 'background: #000; color: #fff;' })));

    // console.log(sheet);
    // for (let i = 0; i < sheet.length; i += 3) {
    //   for (let j = 1; j < 5; j += 1) {
    //     const mainPlanB = parseFloat(sheet[i][`planBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const mainRealF = parseFloat(sheet[i][`realFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const mainPlanF = parseFloat(sheet[i][`planFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const mainPrcB = parseFloat(sheet[i][`prcBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));

    //     const sbPlanB = parseFloat(sheet[i + 1][`planBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const sbRealF = parseFloat(sheet[i + 1][`realFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const sbPlanF = parseFloat(sheet[i + 1][`planFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const sbPrcB = parseFloat(sheet[i + 1][`prcBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));

    //     const kisPlanB = parseFloat(sheet[i + 2][`planBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const kisRealF = parseFloat(sheet[i + 2][`realFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const kisPlanF = parseFloat(sheet[i + 2][`planFact/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));
    //     const kisPrcB = parseFloat(sheet[i + 2][`prcBudget/Q${j}`].replace(',', '').replace('%', '').replace(' ', ''));

    //     const resp = [['Main', `Company${i / 3}`, `Q${j}`, 'planBudget', 'sb', sbPlanB],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'realFact', 'sb', sbRealF],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planFact', 'sb', sbPlanF],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'prcBudget', 'sb', sbPrcB],

    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planBudget', 'kis', kisPlanB],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'realFact', 'kis', kisRealF],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planFact', 'kis', kisPlanF],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'prcBudget', 'kis', kisPrcB],

    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planBudget', 'rest', Math.floor(mainPlanB - sbPlanB - kisPlanB)],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'realFact', 'rest', Math.floor(mainRealF - sbRealF - kisRealF)],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'planFact', 'rest', Math.floor(mainPlanF - sbPlanF - kisPlanF)],
    //       ['Main', `Company${i / 3}`, `Q${j}`, 'prcBudget', 'rest', Math.floor(mainPrcB - sbPrcB - kisPrcB)]];
    //     resp.forEach((r) => {
    //       this.axios.put('/olap/dbrw', {
    //         Cube: r[0],
    //         DimensionsNames: [r[1], r[2], r[3], r[4]],
    //         Value: r[5],
    //       });
    //     });
    // }
    // }
  },
};
</script>
<style lang="sass" scoped>
.dim-select
  height: 40px
  display: flex
  align-items: center
  padding: 0 8px
  transition: background-color .3s
  &:hover
    background-color: #EFEFEF
    cursor: pointer
.side
  min-width: 240px
  height: 100vh
  display: flex
  flex-direction: column
  border-right: 1px solid #d8d8d8
  .logo
    height: 83px
    border-bottom: 1px solid #d8d8d8
    display: flex
    align-items: center
    justify-content: center
    img
      height: 47px
  .header
    display: flex
    align-items: center
    span
      font-size: 12px
  .fl
    display: flex
    &-item
      flex: 1
    .spacer
      flex: 1

  .tree
    flex: 1
    overflow: auto
  .user
    height: 64px
    display: flex
    align-items: center
    justify-content: space-evenly
    border-top: 1px solid #d8d8d8
    .avatar
      width: 32px
      height: 32px
      border-radius: 50%
      background: #BEC4C9
</style>
