<template lang="pug">
button(v-ripple="ripple ? '' : {}" :class="classes.button"
  @click="click" :style='{ color }')
  span(v-if="type === 'text'")
    slot
  .c-button-icon-wrapper(v-else)
    i(:class="classes.icon")
      slot
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#606367',
    },
    block: {
      type: Boolean,
      default: false,
    },
    ripple: {
      type: Boolean,
      default: true,
    },
    type: {
      type: String,
      default: 'text',
      validator: type => ['text', 'icon'].indexOf(type) !== -1,
    },
    size: {
      type: String,
      default: 'm',
      validator: size => ['xs', 's', 'm', 'l', 'xl'].indexOf(size) !== -1,
    },
    action: {
      type: String,
      default: 'default',
      validator: action => ['delete', 'cancel', 'default'].indexOf(action) !== -1,
    },
  },
  computed: {
    classes() {
      const classes = {
        button: ['c-button', `c-button-action-${this.action}`],
      };
      if (this.type === 'text') {
        classes.button.push('c-button-text');
        classes.button.push(`c-button-text-${this.size}`);
      } else {
        classes.icon = ['material-icons', 'c-button-icon', `c-button-icon-${this.size}`];
      }
      if (this.block) {
        classes.button.push('c-button-block');
      }
      return classes;
    },
  },
  methods: {
    click() {
      this.$emit('click');
    },
  },
};
</script>

<style lang="sass" scoped>
.c-button
  padding: 0
  user-select: none
  outline: none
  border: 1px solid transparent
  border-radius: 2px
  background-color: none
  cursor: pointer
  transition: background-color .25s
  font-size: var(--button-text-font-size-xl)
  &-block
    width: 100%
    height: 100%
  &:hover
    background-color: #eee
  &-text
    font-family: var(--font-family-default)
    text-transform: uppercase
    &-xs
      padding: 6px 8px
      font-size: var(--button-text-font-size-xs)
    &-s
      padding: 8px 12px
      font-size: var(--button-text-font-size-s)
    &-m
      padding: 8px 12px
      font-size: var(--button-text-font-size-m)
    &-l
      padding: 8px 12px
      font-size: var(--button-text-font-size-l)
    &-xl
      padding: 10px 16px
      font-size: var(--button-text-font-size-xl)
  &-icon
    font-weight: inherit
    &-wrapper
      display: flex
    &-xs
      font-size: var(--button-icon-size-xs)
    &-s
      font-size: var(--button-icon-size-s)
    &-m
      font-size: var(--button-icon-size-m)
    &-l
      font-size: var(--button-icon-size-l)
    &-xl
      font-size: var(--button-icon-size-xl)
  &-action
    &-delete
      color: var(--button-color-delete)
    &-cancel
      color: var(--button-color-cancel)
    &-default
      color: var(--button-color-default)
</style>
