<template lang="pug">
.c-input-wrapper
  input.c-input(ref="input" :placeholder="placeholder"
    :value="value" @input="input" @focus="onFocus" @blur="onBlur"
    :class='{ "block": block } '
    )
  .c-input-etc(v-if="!!this.$slots.default")
    slot
</template>

<script>
export default {
  props: ['value', 'placeholder', 'block'],
  methods: {
    input(e) {
      this.$emit('input', e.target.value);
    },
    focus() {
      this.$refs.input.focus();
    },
    blur() {
      this.$refs.input.blur();
    },
    onFocus() {
      this.$emit('focus');
    },
    onBlur() {
      this.$emit('blur');
    },
  },
};
</script>

<style lang="sass" scoped>
input
  border: 0
  width: 100%
  height: 100%
.c-input
  height: 100%
  padding: 4px
  width: 100%
  font-size: 15px
  outline: none
  border: 2px solid transparent
  border-radius: 4px
  background: none
  font-family: var(--font-family-default)
  color: #222
  transition: .25s
  &:hover
    background-color: #eee
  &:focus
    border-color: #1a73e8
    background-color: #fff
  &::placeholder
    color: rgba(#000, .25)
  &-wrapper
    border: 1px solid transparent
    border-radius: 2px
    display: inline-flex
    width: 100%
  &-etc
    display: inline-flex
</style>
