<template lang="pug">
transition(enter-active-class="fade-in" leave-active-class="fade-out")
  .c-modal-backdrop(v-show="opened")
    .c-modal-close(@click="close")
      .message(v-show="!sufSize") Еще меньше сделай
    transition(enter-active-class="zoom-in" leave-active-class="zoom-out")
      .c-modal(v-show="sufSize && showed" :style='innerStyle')
        .c-modal-options(v-if="options.length !== 0")
          .c-modal-options-data
            .c-modal-options-data-option(v-for="(button, i) in options" :key="`option${i}`")
              c-button(:style="button.style" type="icon" @click="button.action") {{ button.icon }}
              .c-modal-options-data-option-divider
        .c-modal-main
          .c-modal-main-data
            .c-modal-main-data-header(v-if="!!this.$slots.header")
              .c-modal-main-data-header-data
                slot(name="header")
            .c-modal-main-data-content
              .c-modal-main-data-content-data
                slot
            .c-modal-main-data-footer(v-if="!!this.$slots.footer")
              .c-modal-main-data-header-data
                slot(name="footer")
</template>

<script>
export default {
  props: {
    innerStyle: {
      type: String,
      default: '',
    },
    opened: {
      type: Boolean,
      required: true,
    },
    options: {
      type: Array,
      default: () => ([]),
      validator: (options) => {
        let flag = true;
        for (let i = 0; i < options.length; i += 1) {
          if (typeof options[i].icon !== 'string' || typeof options[i].action !== 'function') {
            flag = false;
          }
        }
        return flag;
      },
    },
  },
  data() {
    return {
      sufSize: true,
    };
  },
  computed: {
    showed() {
      return this.opened;
    },
  },
  mounted() {
    this.checkWindow();
    window.addEventListener('resize', this.checkWindow);
  },
  methods: {
    checkWindow() {
      if (Math.min(
        document.documentElement.clientWidth,
        document.documentElement.clientHeight,
      ) < 420) {
        if (this.sufSize) {
          this.sufSize = false;
        }
      } else if (!this.sufSize) {
        this.sufSize = true;
      }
    },
    close() {
      this.$emit('close', false);
    },
  },
};
</script>

<style lang="sass" scoped>
.c-modal-backdrop
  z-index: 10
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  min-height: 420px
  height: 100vh
  min-width: 420px
  width: 100vw
  background-color: var(--shadow-color-default)
  display: flex
  justify-content: center
  align-items: center
  user-select: none
  .c-modal-close
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    .message
      box-sizing: border-box
      margin: 4px
      padding: 8px
      border-radius: var(--border-radius-default)
      box-shadow: var(--box-shadow-default)
      background-color: #fff
      font-family: var(--font-family-default)
      color: var(--text-color-default)
  .c-modal
    z-index: 11
    height: calc(100% - 32px)
    max-height: var(--modal-max-height)
    width: calc(100% - 32px)
    max-width: var(--modal-max-width)
    box-sizing: border-box
    border-radius: var(--border-radius-default)
    box-shadow: var(--box-shadow-default)
    background-color: #fff
    overflow: hidden
    display: flex
    font-family: var(--font-family-default)
    &-options
      box-sizing: border-box
      width: 64px
      text-align: center
      padding: 7px 0
      background-color: #545454
      box-shadow: var(--box-shadow-inset-default)
      overflow: hidden
      &-data
        height: 100%
        margin: 0 8px
        box-sizing: border-box
        overflow-x: hidden
        overflow-y: scroll
        scroll-behavior: smooth
        &-option
          padding: 4px 0
          width: 40px
          margin: 0 auto
          border-bottom: 1px solid #fff
          &:last-child
            border-bottom: 0
    &-main
      flex: 1
      &-data
        height: 100%
        box-sizing: border-box
        display: flex
        flex-direction: column
        &-header, &-content, &-footer
          box-sizing: border-box
          padding: 8px
          &-data
            margin: 0 8px
            box-sizing: border-box
        &-header, &-footer
          &-data
        &-header
          border-bottom: var(--border-default)
        &-content
          flex: 1
          overflow: auto
          &-data
            height: 100%
            scroll-behavior: smooth
        &-footer
          border-top: var(--border-default)
</style>

<style lang="sass" scoped>
@media screen and (-webkit-min-device-pixel-ratio: 0)
  .c-modal
    &-options, &-main-data-header, &-main-data-footer
      &-data::-webkit-scrollbar
        height: 0
        width: 0
</style>

<style lang="sass" scoped>
@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: 0

.fade-in
  animation: fade-in .25s linear both
.fade-out
  animation: fade-out .25s linear both

@keyframes zoom-in
  0%
    transform: scale(0.5)
  100%
    transform: scale(1)

@keyframes zoom-out
  0%
    transform: scale(1)
  100%
    transform: scale(0.5)

.zoom-in
  animation: zoom-in .25s linear both
.zoom-out
  animation: zoom-out .25s linear both
</style>
