<template lang="pug">
.c-select-option(@click="click")
  .selected
    i.material-icons(v-if='selected') done
  slot
</template>

<script>
export default {
  props: ['value', 'selected'],
  methods: {
    click(e) {
      e.stopPropagation();
      this.$parent.$emit('select', this.value);
    },
  },
};
</script>

<style lang="sass" scoped>
.c-select-option
  padding: 8px 4px
  display: flex
  font-size: 14px
  color: #222
  cursor: pointer
  position: relative
  transition: .25s
  &:hover
    background-color: #eee
  .selected
    width: 30px
    display: flex
    align-items: center
    justify-content: flex-start
    i
      font-size: 18px
      color: rgb(96, 99, 103)
</style>
