<template lang="pug">
.c-select(@click="toggle" :class="show && 'active'" v-click-outside='close')
  span.c-select-input(v-if='value') {{value}}
  span.placeholder.c-select-input(v-else) {{placeholder}}
  //- c-input.c-select-input(ref="cinput" :placeholder="placeholder"
  //-   v-model="input" @focus="onFocus" @blur='onBlur')
  .c-select-input-divider
  i.material-icons(:class="show ? 'rotated' : 'original'") expand_more
    //- c-button(:ripple="false" type="icon" :class="show ? 'rotated' : 'original'"
    //-   @click="toggle") expand_more
  transition(enter-active-class="animated fadeIn faster"
    leave-active-class="animated fadeOut faster")
    .c-select-dropdown(v-if="show")
      .c-select-dropdown-data
        slot
</template>

<script>

export default {
  props: ['options', 'value', 'placeholder'],
  mounted() {
    this.$on('select', (val) => {
      this.$emit('input', val);
      this.$parent.$emit('change', val);
      this.show = false;
    });
  },
  data() {
    return {
      show: false,
    };
  },
  computed: {
    input: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
  methods: {
    close() {
      if (this.show) {
        this.show = false;
      }
    },
    focus() {
      this.$refs.cinput.focus();
    },
    blur() {
      this.$refs.cinput.blur();
    },
    onFocus() {
      this.show = true;
    },
    onBlur() {
      this.show = false;
    },
    toggle() {
      // if (this.show) {
      //   this.$nextTick(this.blur);
      // } else {
      //   this.$nextTick(this.focus);
      // }
      this.show = !this.show;
    },
  },
};
</script>

<style lang="sass" scoped>
.original
  transition: .25s
.rotated
  transition: .25s
  transform: scaleY(-1)

.c-select
  width: 100%
  height: 100%
  padding: 2px
  box-sizing: border-box
  border: 1px solid transparent
  border-radius: 2px
  display: inline-flex
  align-items: center
  transition: .25s
  position: relative
  font-family: var(--font-family-default)
  &:hover, &:focus-within
    background-color: #eee
    cursor: pointer
    .c-select-input-divider
      opacity: 1
  .placeholder
    color: #d8d8d8
  &-input
    flex: 1
    width: 100%
    &:focus
      background-color: #fff
    &-divider
      width: 1px
      height: 100%
      margin: 0 4px
      background-color: #d8d8d8
  &-dropdown
    position: absolute
    top: calc(100% + 4px)
    left: 0
    max-height: 300px
    min-width: 100%
    box-sizing: border-box
    padding: 8px 0
    z-index: 100
    border-radius: 5px
    background-color: #fff
    box-shadow: 0 2px 6px 2px rgba(64, 64 , 64, .125)
    display: flex
    overflow: scroll
    &-data
      flex: 1
      scroll-behavior: smooth
.active
  background-color: #eee
</style>
