<template lang="pug">
.c-popover(:class="show && 'active'")
  div(@click='open')
    slot(name='activator')
  transition(enter-active-class="animated fadeIn faster"
    leave-active-class="animated fadeOut faster")
    .c-popover-dropdown(v-if="show" v-click-outside='close')
      .c-popover-dropdown-data
        slot
</template>
<script>
export default {
  data() {
    return {
      show: false,
    };
  },
  methods: {
    open() {
      this.show = true;
      // console.log('open');
    },
    close() {
      this.show = false;
      // console.log('closing');
    },
  },
};
</script>
<style lang="sass" scoped>
.c-popover
  position: relative
  z-index: 100
  &-dropdown
    position: absolute
    top: calc(100% + 4px)
    left: 0
    min-width: 100%
    box-sizing: border-box
    z-index: 100
    border-radius: 2px
    background-color: #fff
    box-shadow: 0 2px 6px 2px rgba(64, 64 , 64, .125)
    overflow: scroll
    &-data
      height: auto
      white-space: nowrap
</style>
