<template lang="pug">
  .editor
    span Fx
    .vertical-divider
</template>
<style lang="sass" scoped>
.editor
  border-bottom: 1px solid #d8d8d8
  height: 34px
  box-sizing: border-box
  display: flex
  align-items: center
  padding: 0 8px

.vertical-divider
  margin: 0 8px
  width: 1px
  height: 18px
  background-color: #d8d8d8
</style>
