<template lang="pug">
.background
  #particles-js
</template>

<script>
import 'particles.js';
import options from './particles-options';

export default {
  name: 'particles',
  mounted() {
    this.initParticles();
  },
  methods: {
    initParticles() {
      window.particlesJS('particles-js', options);
    },
  },
};
</script>

<style lang="sass" scoped>
.background
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  #particles-js
    height: 100%
    width: 100%
    opacity: 0.125
</style>
