<template lang="pug">
.cont
  .headline
    span.title {{$route.params.name}}
    c-button(type='icon' @click='isEdit = !isEdit' size='m') {{isEdit?"lock_open":"lock"}}
  .grid-cont
    grid-layout(:layout.sync='layout', :col-num='12', :row-height='30', :is-draggable='isEdit',
      :is-resizable='isEdit', :is-mirrored='false',
      :margin='[16, 16]', :use-css-transforms='true')
      grid-item.item(v-for='item in layout', :x='item.x', :y='item.y',
        :w='item.w', :h='item.h', :i='item.i', :key='item.i')
        TableWidget(v-if='item.widgetType=="table"', :name='item.name')
        BarWidget(v-else-if='item.widgetType=="bar"')
        LineWidget(v-else-if='item.widgetType=="line"' :options='item.options')
        ColumnWidget(v-else-if='item.widgetType=="column"' :options='item.options')
        PieWidget(v-else-if='item.widgetType=="pie"' :options='item.options')
        SelectWidget(v-else-if='item.widgetType=="select"' :options='item.options'
          @switch='changeSelect')
        div(v-else) a

</template>
<script>
/* eslint-disable no-mixed-spaces-and-tabs */
/* eslint-disable no-tabs */
import VueGridLayout from 'vue-grid-layout';
import TableWidget from './Widgets/Table.vue';
import BarWidget from './Widgets/Bar.vue';
import LineWidget from './Widgets/Line/index.vue';
import ColumnWidget from './Widgets/Column/index.vue';
import PieWidget from './Widgets/Pie/index.vue';
import SelectWidget from './Widgets/Select/index.vue';

export default {
  components: {
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
    TableWidget,
    BarWidget,
    LineWidget,
    ColumnWidget,
    PieWidget,
    SelectWidget,
  },
  methods: {
    changeSelect(payload) {
      payload.changes.forEach((ch) => {
        this.layout.forEach((l, i) => {
          if (l.i === ch.id) {
            const vals = l.options.rest.split(',');
            vals[ch.ind] = payload.val;
            this.layout[i].options.rest = vals.join(',');
          }
        });
      });
    },
  },
  data() {
    return {
      isEdit: false,
      layout: [{
        x: 0,
        y: 1,
        w: 8,
        h: 10,
        i: '0',
        widgetType: 'table',
        name: 'Бюджет',
      }, {
        x: 0,
        y: 10,
        w: 8,
        h: 13,
        i: '12',
        widgetType: 'line',
        options: {
          cubeName: 'Main',
          dimName: 'Companies',
          level: 0,
          rest: 'Total_Period,planBudget,Total_Measure1',
          alias: true,
          title: 'Вся компания',
        },
      }, {
        x: 2,
        y: 0,
        w: 2,
        h: 1,
        i: '8',
        widgetType: 'select',
        options: {
          dimName: 'Period',
          changes: [{
            id: '12',
            ind: 0,
          }, {
            id: '10',
            ind: 0,
          }, {
            id: '2',
            ind: 0,
          }, {
            id: '3',
            ind: 0,
          }],
        },
      }, {
        x: 0,
        y: 0,
        w: 2,
        h: 1,
        i: '7',
        widgetType: 'select',
        options: {
          dimName: 'Measure2',
          changes: [{
            id: '12',
            ind: 1,
          }, {
            id: '10',
            ind: 1,
          }, {
            id: '2',
            ind: 1,
          }, {
            id: '3',
            ind: 1,
          }],
        },
      }, {
        x: 8,
        y: 0,
        w: 4,
        h: 8,
        i: '10',
        widgetType: 'column',
        options: {
          cubeName: 'Main',
          dimName: 'Companies',
          attr: 'Alias',
          level: 0,
          rest: 'Total_Period,planBudget,sb',
          alias: true,
          title: 'СБ',
        },
      }, {
        x: 8,
        y: 0,
        w: 4,
        h: 8,
        i: '2',
        widgetType: 'column',
        options: {
          cubeName: 'Main',
          dimName: 'Companies',
          level: 0,
          rest: 'Total_Period,planBudget,kis',
          alias: true,
          title: 'КИС',
        },
      }, {
        x: 8,
        y: 0,
        w: 4,
        h: 8,
        i: '3',
        widgetType: 'column',
        options: {
          cubeName: 'Main',
          dimName: 'Companies',
          level: 0,
          rest: 'Total_Period,planBudget,rest',
          alias: true,
          title: 'Остаток',
        },
      },
      ],
    };
  },
};
</script>
<style lang="sass" scoped>
.grid-cont
  height: calc(100vh - 83px)
  overflow: auto
.item
  background: #fff
  border: 1px solid #D8D8D8
.headline
  height: 83px
  border-bottom: 1px solid #D8D8D8
  display: flex
  align-items: center
  .title
    font-size: 32px
    margin: 0 16px
</style>
