<template lang="pug">
  .integrator
    .headline.fl
      c-button.mr-3(@click='$router.push("/integrator")') назад
      .title Процесс {{$route.params.name}}
    .body
      .files.card
        .head Файлы
        .item(v-for='file in processFiles' @click='getFile(file)') {{file}}
      .body-file#ide(ref='ide')
</template>
<script>
import * as monaco from 'monaco-editor';
import {mapActions, mapState} from 'vuex'
export default {
  data() {
    return {
      addProcessName: '',
      editor: null
    }
  },
  mounted() {
    this.getProcessFiles()

    this.editor = monaco.editor.create(this.$refs.ide, {
      value: '',
      language: "go"
    });
  },
  computed: {
    ...mapState('integrator/process', {
      processFiles: state => state.processFiles,
      processFile: state => state.processFile,
      loading: state => state.loading
    })
  },
  methods: {
    ...mapActions('integrator/process', [
      'getProcessFiles',
      'getProcessFile'
    ]),
    async getFile(filename) {
      await this.getProcessFile(filename)

      this.editor.getModel().setValue(this.processFile);
    }
  }
}
</script>
<style lang="sass" scoped>
.integrator
  padding: 32px
  box-sizing: border-box
  height: 100%
  display: flex
  flex-direction: column
  .headline
    .title
      font-weight: bold
      font-size: 30px
.body
  margin-top: 32px
  display: flex
  align-items: flex-start
  height: 100%
  .files
    width: 300px
    .head
      padding: 8px 16px
      font-size: 22px
      border-bottom: 1px solid #D8D8D8
  &-file
    flex: 1
    height: 100%
.card
  background: #fff
  border: 1px solid #D8D8D8
.item
  padding: 8px 16px
  &:hover
    cursor: pointer
    background-color: #D8D8D8
.item-not-found
  padding: 8px 16px
  text-align: center
.list
  margin-top: 16px
.add
  display: flex
  align-items: center
  margin-top: 16px
  &-loading
    margin-left: 16px
  .inp
    width: 400px
    margin-right: 16px
</style>
