<template lang="pug">
.login
  background(v-if="show")
  .inner
    .logo
      img(src='/Cubby.png')
    .form
      c-input.inp(name='email' placeholder='Enter email' v-model='email' @keyup.enter='login')
      c-input.inp(name='password' placeholder='Enter password' v-model='password'
        type='password' @keyup.enter='login')
      c-button(block @click='login') Login

</template>

<script>
import Background from './Background/index.vue';

export default {
  components: {
    Background,
  },
  methods: {
    login() {
      this.$auth.login({
        data: {
          email: this.email,
          password: this.password,
        },
        success() {},
        error() {},
        rememberMe: true,
        redirect: '/',
        fetchUser: true,
      });
    },
  },
  data() {
    return {
      show: true,
      password: '',
      email: '',
    };
  },
  mounted() {
    // setTimeout(() => (this.show = false), 2 * 60 * 1000);
  },
};
</script>

<style lang="sass" scoped>
.login
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  position: relative
  user-select: none
.inner
  display: flex
  padding: 16px
  flex-direction: column
  max-width: 380px
  background: rgba(255,255,255,.7)
  margin: 0 auto
  z-index: 12
  .inp
    margin: 10px 0px
    width: 100%
    border-bottom: 1px solid #efefef
  .logo
    text-align: center
    margin-bottom: 25px
    img
      max-width: 300px
</style>
