<template lang='pug'>
.small(ref='cont' v-resize:debounce="onResize")
  highcharts(:options='chartOptions' ref='graph' :updateArgs='[true,true,true]')

</template>

<script>
/* eslint-disable guard-for-in */
import resize from 'vue-resize-directive';

export default {
  props: ['options'],
  directives: {
    resize,
  },
  mounted() {
    const { options } = this;
    this.axios.get(`/chart/${options.cubeName}`, {
      params: {
        dimension: options.dimName,
        level: options.level,
        rest: options.rest,
        alias: options.alias,
      },
    }).then((resp) => {
      this.chartOptions.series[0].data = [];
      // eslint-disable-next-line no-restricted-syntax
      for (const k in resp.data) {
        this.chartOptions.series[0].data.push({
          name: k,
          y: resp.data[k],
        });
        // this.chartOptions.xAxis.categories.push(k);
      }
    });
  },
  data() {
    return {
      chartOptions: {
        xAxis: {
          categories: [],
        },
        title: {
          text: this.options.title,
        },
        series: [{
          type: 'pie',
          data: [],

        }],
      },
    };
  },
  methods: {
    onResize() {
      this.$refs.graph.chart.setSize(
        this.$refs.cont.clientWidth,
        this.$refs.cont.clientHeight,
        false,
      );
    },
  },
};
</script>

<style lang="sass" scoped>
.small
  height: 100%
  width: 100%
</style>
