@import url("https://fonts.googleapis.com/css?family=Rubik:300,700&display=swap&subset=cyrillic,latin-ext")
:root
  --font-family-default: "Rubik", sans-serif

@import url("https://fonts.googleapis.com/icon?family=Material+Icons")
.material-icons
  font-family: 'Material Icons'
  // font-weight: normal
  // font-style: normal
  display: inline-flex
  line-height: 1
  text-transform: none
  // letter-spacing: normal
  // word-wrap: normal
  white-space: nowrap
  direction: ltr
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale
  /* Support for IE. */
  font-feature-settings: 'liga'