:root
  --primary-color: #eee
  // primary color for all components
  --link-color: #1890ff
  // link color
  --success-color: #52c41a
  // success state color
  --warning-color: #faad14
  // warning state color
  --error-color: #f5222d
  // error state color
  --font-size-base: 14px
  // major text font size
  --heading-color: rgba(0, 0, 0, .85)
  // heading text color
  --text-color-secondary: rgba(0, 0, 0, .45)
  // secondary text color
  --disabled-color: rgba(0, 0, 0, .25)
  // disable state color
  --border-color-base: #d9d9d9
  // major border color

  --shadow-color-default: rgba(0, 0, 0, .5)
  --border-default: 1px solid #d8d8d8
  --border-radius-default: 8px
  --box-shadow-default: 0 0 25px 0 var(--shadow-color-default)
  --box-shadow-inset-default: inset 0 0 6px 0 var(--shadow-color-default)

  --text-color-default: rgba(0, 0, 0, .65)

  --button-text-font-size-xs: 10px
  --button-text-font-size-s: 12px
  --button-text-font-size-m: 14px
  --button-text-font-size-l: 16px
  --button-text-font-size-xl: 18px

  --button-icon-size-xs: 12px
  --button-icon-size-s: 18px
  --button-icon-size-m: 24px
  --button-icon-size-l: 36px
  --button-icon-size-xl: 48px

  --button-color-delete: #d82e2e
  --button-color-cancel: #898989
  --button-color-default: #3e3e3e

  --modal-max-height: 562px
  --modal-max-width: 562px