<template lang='pug'>
  #app
    .cont-main(v-if="$auth.ready()")
      side-menu(v-if='$route.name != "Login"')
      .inner
        router-view
</template>

<script>
import SideMenu from './components/SideMenu/index.vue';

export default {
  name: 'app',
  components: {
    SideMenu, 
  },
};
</script>

<style lang="sass">

body::-webkit-scrollbar 
  background-color: #fff
  width: 16px



body::-webkit-scrollbar-track 
  background-color: #fff



body::-webkit-scrollbar-thumb 
  background-color: #babac0
  border-radius: 16px
  border: 4px solid #fff


body::-webkit-scrollbar-button 
  display: none

.mr-2
  margin-right: 8px
.mr-3
  margin-right: 16px
.mb-2
  margin-bottom: 8px
.fl
  display: flex
  &-item
    flex: 1
  .spacer
    flex: 1
  &-between
    justify-content: space-between
.al
  &-center
    align-items: center
body
  margin: 0
#app
  margin: 0px
  font-family: 'Rubik'
.cont-main
  display: flex
  max-width: 100%
  min-height: 100vh
.inner
  flex: 1
  min-width: 0
</style>
