<template lang="pug">
c-select(v-model='curSelect' :value='curSelect' @select='changeSelect')
  c-select-option(v-for='sel in selectList' :value='sel.Name') {{sel.Name}}
</template>
<script>
export default {
  props: ['options'],
  data() {
    return {
      curSelect: null,
      selectList: [],
    };
  },
  methods: {
    changeSelect(val) {
      this.curSelect = val;
      this.$emit('switch', {
        val,
        changes: this.options.changes,
      });
    },
  },
  mounted() {
    if (this.options.dimName) {
      this.axios.get(`/olap/dimensions?name=${this.options.dimName}`).then((resp) => {
        this.selectList = resp.data.Hierarchy;
      });
    }
  },
};
</script>
<style lang="sass" scoped>
.select
</style>
