<template lang="pug">
  td.cell(:class="{ selected }" @click='click' @dblclick='makeEditorActive',
    :style='styles' :row='row', :col='col')
    div(v-if='!inEdit && cell.Value[0]==="`"')
      c-button(@click='openForm' block)
        |{{cell.Value.substring(1, this.cell.Value.length - 1).split(':')[1].split(',')[1]}}
    div(v-else-if='!editor && !disableRenderer && selectValues == null') 
      |{{prettyValue(cell.Value)}}
    c-select(v-else-if='selectValues!=null' :value='getSelectedValue(selectValues, cell.Value)'
      @select='handleSelect')
      c-select-option(v-for='val in getSelectValues(selectValues)'
        :value='val[0]' :selected='cell.Value == val[0]') {{val[1]}}
    slot(name='editor' v-else-if='$slots.editor' @blur='false')
    input.inp(v-else='editor' ref='input'
      :value='cell.Value' @change='handleChange' @blur='editor=false')
</template>
<script>
export default {
  data() {
    return {
      text: '',
      editor: false,

    };
  },
  props: ['cell', 'selected', 'disableRenderer', 'cellStyle', 'row', 'col', 'selectValues', 'properties', 'inEdit'],
  mounted() {
    this.$on('change', (val) => {
      this.$parent.$emit('change', [this.row, this.col, val]);
    });
  },
  computed: {
    styles() {
      return this.cellStyle;
    },
  },
  methods: {
    prettyValue(val) {
      return val=="<nil>"?"":val
    },
    openForm() {
      const str = this.cell.Value.substring(1, this.cell.Value.length - 1);
      this.$store.commit('addTab', str.split(':')[1].split(',')[0]);
      this.$router.push('/');
    },
    getSelectedValue(obj, valName) {
      let res = valName;
      if (obj.Attr !== '') {
        obj.DimensionValues.forEach((dv) => {
          if (dv.Name === valName) {
            res = dv.Attributes[obj.Attr];
          }
        });
      }
      return res;
    },
    getSelectValues(obj) {
      const res = [];
      if (obj.Attr !== '') {
        obj.DimensionValues.forEach((dv) => {
          res.push([dv.Name, dv.Attributes[obj.Attr]]);
        });
      } else {
        obj.DimensionValues.forEach((dv) => {
          res.push([dv.Name, dv.Name]);
        });
      }
      return res;
    },
    handleSelect(val) {
      this.$parent.$emit('change', [this.row, this.col, val]);
    },
    handleChange(e) {
      this.$parent.$emit('change', [this.row, this.col, e.target.value]);
    },
    makeEditorActive() {
      if (this.properties.Editable) {
        this.editor = true;
        setTimeout(() => this.$refs.input.focus(), 10);
      }
    },
    click() {
      if (!this.disableRenderer) {
        this.$emit('click');
      }
    },
  },
};
</script>
<style lang="sass" scoped>
.inp
  outline: none
  font-size: 16px
  font-weight: 300
  font-family: Rubik
  height: 100%
  width: 100%
  border: 0
  padding: 0
  line-height: 1
p
  padding: 0
  margin: 0
  height: 100%
  margin-block-start: 0
  margin-block-end: 0
  width: 100%
  line-height: 1
.cell
  user-select: contain
  min-width: 121px
  min-height: 32px
  width: fit-content
  min-height: 32px
  outline-width: 0
  border-top-width: 0
  border-left-width: 0
  border-right: 1px solid #b8c1cb
  border-bottom: 1px solid #b8c1cb
  padding: 6px 10px
  color: #000a12
  white-space: nowrap
  background-clip: padding-box
  box-sizing: border-box
  position: relative
  .inp
    width: 100%
// .selected:after
//   position: absolute
//   content: ''
//   border: solid 1px #2d8eff
//   box-sizing: border-box
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%
//   z-index: 1
</style>
