<template lang="pug">
.cont(ref='cont')
  table.table( ref='dataTable' @mousedown="onMouseDown")
    .selection(:style='getStylesSelection' v-if='selectionVisible')
    thead
      tr(v-if='data&&data.length > 0')
        th.cell-side.grey--text.corner ◢
        th.header-col(v-for='(header, index) in data[0]'
          :id='"header-col-" + index'
          :class='{ "selected-col": isColSelected(index) }'
          @click='selectCol(index)')
          | {{columnToLetter(index + 1)}}
    tbody
      tr.row(v-for='(row, rowIndex) in data'
        :id='"ctable-row-" + rowIndex' :key='"cell-" + rowIndex')
        td.cell-side {{rowIndex + 1}}
        cell(v-for='(col, colIndex) in row'
          :key='getKey(rowIndex, colIndex)'
          :selected='rowIndex == selectedCell.row && colIndex == selectedCell.col'
          :disableRenderer='isCellWithoutRenderer(rowIndex, colIndex)'
          :cellStyle='getStyle(rowIndex,colIndex)'
          :row='rowIndex'
          :col='colIndex'
          :cell='data[rowIndex][colIndex]'
          :selectValues='getSelect(rowIndex,colIndex)'
          :inEdit='inEdit'
          :properties='inEdit?{Editable: true}:properties[rowIndex][colIndex]'
          )
          //- template(#editor)
          //-
          //-   slot(:name='"cell-" + rowIndex + "-" + colIndex' :value='data[rowIndex][colIndex]')
</template>

<script>
/* eslint-disable no-plusplus */
import Cell from './Cell/index.vue';

// function uniqueArray(array) {
//   const newArray = array.concat();
//   for (let i = 0; i < newArray.length; ++i) {
//     for (let j = i + 1; j < newArray.length; ++j) {
//       if (newArray[i] === newArray[j]) {
//         newArray.splice(j--, 1);
//       }
//     }
//   }
//   return newArray;
// }
export default {
  props: ['data', 'disableRenderer', 'styles', 'selects', 'properties', 'scroll', 'inEdit'],
  data() {
    return {
      selectedCell: {
        col: 0,
        row: 0,
      },
      selectedCells: {
        left: null,
        top: null,
        bottom: null,
        right: null,
      },
      mouseDown: false,
      concat: false,
      startPoint: null,
      endPoint: null,
      selectedItems: [],
    };
  },
  components: { Cell },
  computed: {
    selectionVisible() {
      const {
        top, bottom, right, left,
      } = this.selectedCells;
      return top !== null && bottom !== null && right !== null && left !== null
        && ((bottom - top) !== 0 || (right - left) !== 0);
    },
    getStylesSelection() {
      const {
        top, bottom, right, left,
      } = this.selectedCells;
      let vtop;
      let vbottom;
      let vright;
      let vleft;
      if (bottom < top) {
        vtop = bottom;
        vbottom = top;
      } else {
        vtop = top;
        vbottom = bottom;
      }
      if (right < left) {
        vleft = right;
        vright = left;
      } else {
        vleft = left;
        vright = right;
      }
      let mT = 0;
      let h = 0;
      let w = 0;
      let mL = 0;
      const cols = document.getElementsByClassName('header-col');
      for (let i = 0; i < vtop; i++) {
        mT += document.getElementById(`ctable-row-${i}`).offsetHeight;
      }
      for (let i = vtop; i <= vbottom; i++) {
        h += document.getElementById(`ctable-row-${i}`).offsetHeight;
      }
      for (let i = 0; i < vleft; i++) {
        mL += cols[i].offsetWidth;
      }
      for (let i = vleft; i <= vright; i++) {
        w += cols[i].offsetWidth;
      }
      if (vtop !== null && vbottom !== null && vright !== null && vleft !== null) {
        return {
          top: `${mT + 32}px`,
          left: `${mL + 31}px`,
          width: `${w}px`,
          height: `${h}px`,
        };
      }
      return {};
    },
  },
  mounted() {
    this.$on('change', (val) => {
      this.$parent.$emit('change', val);
    });
  },
  methods: {
    getKey(row, col) {
      return `cell-${row}-${col
      }-${JSON.stringify(this.getStyle(row, col))}`;
    },
    getSelect(row, col) {
      if (this.selects[row] && this.selects[row][col]) return this.selects[row][col];
      return null;
    },
    getStyle(row, col) {
      const { styles } = this;
      if (styles && styles[row]) {
        if (styles[row][col]) return styles[row][col];
      }
      return {};
    },
    selectCol(ind) {
      this.selectedCells = {
        top: 0,
        bottom: this.data.length - 1,
        left: ind,
        right: ind,
      };
    },
    isCellWithoutRenderer(row, col) {
      const { disableRenderer } = this;
      if (
        disableRenderer
        && disableRenderer[row]
        && disableRenderer[row][col]
      ) return true;
      return false;
    },
    isColSelected(ind) {
      return ((ind) === this.selectedCell.col);
    },
    onMouseDown(event) {
      // Ignore right clicks
      if (event.button === 2) return;
      // Check if shift is down
      this.concat = event.shiftKey;
      // Register begin point
      this.mouseDown = true;
      this.startPoint = {
        x: event.pageX,
        y: event.pageY,
      };
      this.selectedCells.right = null;
      this.selectedCells.bottom = null;
      // this.selectedCells.left = Math.floor(
      //   (this.startPoint.x - 35
      //     - this.$refs.dataTable.offsetLeft + this.$refs.cont.scrollLeft) / 121,
      // );
      // this.selectedCells.top = Math.floor(
      //   (this.startPoint.y - 35
      //     - this.$refs.dataTable.offsetTop + this.$refs.cont.scrollTop) / 35,
      // );
      // this.selectedCells.left = parseInt(event.target.getAttribute('col'), 10);
      // let sum = 0;
      // const cols = document.getElementsByClassName('header-col');
      // for (let i = 0; i < this.data[0].length; i++) {
      //   sum += cols[i].offsetWidth;
      //   if (sum > (this.startPoint.x - 35
      //       - this.$refs.dataTable.offsetLeft + this.$refs.cont.scrollLeft)) {
      //     this.selectedCells.left = i;
      //     break;
      //   }
      // }
      let rowOver;
      let colOver;
      const mousePos = this.startPoint.y - 35 - this.$refs.dataTable.offsetTop
          + this.scroll.scrollTop;
      const mousePosX = this.startPoint.x - 35
          - this.$refs.dataTable.offsetLeft + this.scroll.scrollLeft;
      this.data.forEach((v, i) => {
        if (i === 0) {
          v.forEach((z, j) => {
            if (mousePosX > document.getElementById(`header-col-${j}`).offsetLeft - 31) colOver = j;
          });
        }
        if (mousePos > document.getElementById(`ctable-row-${i}`).offsetTop - 35) rowOver = i;
      });
      this.selectedCells.top = rowOver;
      this.selectedCells.left = colOver;
      // this.selectedCells.top = parseInt(event.target.getAttribute('row'), 10);
      this.selectedCell = {
        row: this.selectedCells.top,
        col: this.selectedCells.left,
      };
      if (this.selectedCells.top < 0) {
        this.selectedCell.row = 0;
        return;
      }
      if (this.selectedCells.left < 0) {
        this.selectedCell.col = 0;
        return;
      }
      // Start listening for mouse move and up events
      window.addEventListener('mousemove', this.onMouseMove);
      window.addEventListener('mouseup', this.onMouseUp);
    },
    onMouseMove(event) {
      // Update the end point position
      if (this.mouseDown) {
        this.endPoint = {
          x: event.pageX,
          y: event.pageY,
        };
        // let sum = 0;
        // const cols = document.getElementsByClassName('header-col');
        // for (let i = 0; i < this.data[0].length; i++) {
        //   sum += cols[i].offsetWidth;
        //   if (sum > (this.endPoint.x - 35
        //     - this.$refs.dataTable.offsetLeft + this.$refs.cont.scrollLeft)) {
        //     this.selectedCells.right = i;
        //     break;
        //   }
        // }
        let rowOver;
        let colOver;
        const mousePosY = this.endPoint.y - 35 - this.$refs.dataTable.offsetTop
          + this.scroll.scrollTop;
        const mousePosX = this.endPoint.x - 35
            - this.$refs.dataTable.offsetLeft + this.scroll.scrollLeft;

        this.data.forEach((v, i) => {
          if (i === 0) {
            v.forEach((z, j) => {
              if (mousePosX > document.getElementById(`header-col-${j}`).offsetLeft - 31) colOver = j;
            });
          }
          if (mousePosY > document.getElementById(`ctable-row-${i}`).offsetTop - 32) rowOver = i;
        });
        this.selectedCells.bottom = rowOver;
        this.selectedCells.right = colOver;
        // console.log(this.$refs.dataTable.offsetLeft + this.$refs.cont.scrollLeft);
        // this.selectedCells.right = Math.floor((this.endPoint.x - 35
        //     - this.$refs.dataTable.offsetLeft + this.$refs.cont.scrollLeft)
        //    / 121,
        // );
        // this.selectedCells.bottom = Math.floor(
        //   (this.endPoint.y - 35
        //     - this.$refs.dataTable.offsetTop + this.$refs.cont.scrollTop) / 35,
        // );
        // this.selectedCells.right = parseInt(event.target.getAttribute('col'), 10);
        // this.selectedCells.bottom = parseInt(event.target.getAttribute('row'), 10);
        if (this.endPoint.x > (this.$refs.cont.offsetWidth
          + this.$refs.cont.offsetLeft) * 0.9) {
          this.$refs.cont.scrollLeft += 10;
        }
        if (this.endPoint.x - this.$refs.cont.offsetLeft
        < (this.$refs.cont.offsetWidth) * 0.1) {
          this.$refs.cont.scrollLeft -= 10;
        }
      }
    },
    onMouseUp() {
      // Clean up event listeners
      window.removeEventListener('mousemove', this.onMouseMove);
      window.removeEventListener('mouseup', this.onMouseUp);
      // Reset state
      this.mouseDown = false;
      this.concat = false;
      this.startPoint = null;
      this.endPoint = null;
    },
    isItemSelected(el) {
      if (el.classList.contains(this.selectorClass)) {
        const boxA = this.selectionBox;
        const boxB = {
          top: el.offsetTop,
          left: el.offsetLeft,
          width: el.clientWidth,
          height: el.clientHeight,
        };
        return !!(
          boxA.left <= boxB.left + boxB.width
          && boxA.left + boxA.width >= boxB.left
          && boxA.top <= boxB.top + boxB.height
          && boxA.top + boxA.height >= boxB.top
        );
      }
      return false;
    },
    selectCell(row, col) {
      this.selectedCell = {
        row,
        col,
      };
    },
    columnToLetter(column) {
      let temp;
      let letter = '';
      let col = column;
      while (col > 0) {
        temp = (col - 1) % 26;
        letter = String.fromCharCode(temp + 65) + letter;
        col = (col - temp - 1) / 26;
      }
      return letter;
    },
    letterToColumn(letter) {
      let column = 0; const
        { length } = letter;
      // eslint-disable-next-line no-plusplus
      for (let i = 0; i < length; i++) {
        column += (letter.charCodeAt(i) - 64) * (26 ** (length - i - 1));
      }
      return column;
    },
  },
  beforeDestroy() {
    // Remove event listeners
    window.removeEventListener('mousemove', this.onMouseMove);
    window.removeEventListener('mouseup', this.onMouseUp);
  },
};
</script>
<style lang="sass" scoped>
.grey--text
  color: #778F9B
.selection
  background: red
  position: absolute
  z-index: 2
  background-color: rgba(45,142,255, .1)
  border: solid 0.5px #2d8eff
  box-sizing: border-box
  border-radius: 2px
  // transition: all .2s
.table
  border-collapse: separate
  border-spacing: 0
  margin: 0
  border-width: 0
  width: 0
  outline-width: 0
  cursor: default
  position: relative
  max-width: none
  max-height: none
  user-select: none
  th, td
    white-space: nowrap

.header-col
  min-width: 121px
  max-width: 121px
  height: 32px
  background-color: #d4dae0
  outline-width: 0
  border-top-width: 0
  border-left-width: 0
  border-right: 1px solid #b8c1cb
  border-bottom: 1px solid #b8c1cb
  white-space: pre-line
  background-clip: padding-box
  box-sizing: border-box
  z-index: 2
  position: sticky
  top: 0
  font-weight: 300
.selected-col
  background-color: #bec4c9
.cell-side
  min-width: 31px
  width: 31px
  height: 31px
  max-height: 31px
  box-sizing: border-box
  min-height: 32px
  padding: 0 5px
  outline-width: 0
  border-top-width: 0
  border-left-width: 0
  border-right: 1px solid #b8c1cb
  border-bottom: 1px solid #b8c1cb
  background-color: #d4dae0
  vertical-align: middle
  text-align: center
  left: 0px
  position: sticky
  top: auto
  z-index: 3
  font-weight: 300
.corner
  left: 0
  top: 0
  z-index: 4
</style>
