
<template lang="pug">
.editor
  .ide#ide
</template>

<script>
/* eslint-disable no-plusplus */
import * as monaco from 'monaco-editor';

const buttons = [
  ['N', 'C'],
  'DB',
  'IF',
  'ATTRS',
  'NumberToString',
  'LN',
  'ConsolidatedMin',
  'ConsolidatedMax',
  'ConsolidatedAvg',
  'ConsolidatedCount',
  'ConsolidatedCountUnique',
];

export default {
  data() {
    return {
      buttons,
      monaco: null,
      editor: null,
    };
  },
  methods: {
    isObject: element => typeof element === 'object',
    saveRules() {
      const body = this.editor.getValue();
      this.axios.put(`/rules/${this.$route.params.cube}`, {
        text: body,
      }).then(() => {
        this.$message.success('Правила успешно сохранены');
      }).catch((err) => {
        this.$message.error(`Ошибка сохранения файла ${this.activeItem}: ${err.response.data.error.Message}`);
      });
    },
    initEditor(text) {
      monaco.languages.register({ id: 'mySpecialLanguage' });
      monaco.languages.setMonarchTokensProvider('mySpecialLanguage', {
        tokenizer: {
          root: [
            [/\[/, 'custom-info'],
            [/\]/, 'custom-info'],
            [/\$/, 'custom-error'],
            [/"(.*?)"/, 'custom-notice'],
            [/'(.*?)'/, 'custom-notice'],
            [/\bDB[a-zA-Z]*/, 'custom-func'],
            [/\bnumbertostring[a-zA-Z]*/, 'custom-func'],
            [/\bIF[a-zA-Z]*/, 'custom-func'],
            [/\[info.*/, 'custom-info'],
            [/\[[a-zA-Z 0-9:]+\]/, 'custom-date'],
          ],
        },
      });
      monaco.editor.defineTheme('myCoolTheme', {
        base: 'vs',
        inherit: false,
        rules: [
          { token: 'custom-info', foreground: '0D47A1' },
          { token: 'custom-error', foreground: 'ff0000' },
          { token: 'custom-notice', foreground: '4CAF50' },
          { token: 'custom-func', foreground: 'E91E63' },
          { token: 'custom-date', foreground: '008800' },
        ],
      });
      monaco.languages.registerCompletionItemProvider('mySpecialLanguage', {
        provideCompletionItems: () => {
          const mySuggestions = [];
          for (let i = 0; i < buttons.length; i++) {
            if (typeof buttons[i] === 'object') {
              for (let j = 0; j < buttons[i].length; j++) {
                mySuggestions.push({
                  label: buttons[i][j],
                  insertText: `${buttons[i][j]}($0)`,
                  insertTextRules:
                    monaco.languages.CompletionItemInsertTextRule.InsertAsSnippet,
                });
              }
            } else {
              let ps = '($0)';
              if (buttons[i] === 'IF') {
                ps = '($0,,)';
              }
              mySuggestions.push({
                label: buttons[i],
                insertText: buttons[i] + ps,
                insertTextRules:
                  monaco.languages.CompletionItemInsertTextRule.InsertAsSnippet,
              });
            }
          }
          return { suggestions: mySuggestions };
        },
      });
      const editor = monaco.editor.create(document.getElementById('ide'), {
        theme: 'myCoolTheme',
        value: text,
        language: 'mySpecialLanguage',
      });
      this.editor = editor;
      this.editor.addCommand(monaco.KeyMod.CtrlCmd || monaco.KeyCode.KEY_S, () => {
        this.saveRules();
      });
    },
    insert(name) {
      let ps = '($0)';

      if (name === 'IF') {
        ps = '($0,,)';
      }

      const text = name + ps;
      this.editor.getContribution('snippetController2').insert(text);
    },
  },
  mounted() {
    this.initEditor('1');
    // this.axios.get(`/rules/${this.$route.params.cube}`).then((resp) => {
    //   resp.data);
    // });
  },
};
</script>

<style lang="sass" scoped>
.editor
  height: 100%
  .headline
    padding: 16px
  .inner
    display: flex
    height: 100%
    .side
      width: 280px
.ide
  height: 100%
  flex: 1
  background: #1E1E1E
</style>
